{% extends 'master.html' %}
{% block head_end %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <table>
                    <tr>
                        <td>Gebruikersnaam</td>
                        <td>email</td>
                        <td>Rechtenniveau</td>
                        <td></td>
                    </tr>
                    {% for user in users %}
                        {% set rechtenniveau = user_access[user.user_role] %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ rechtenniveau }}</td>
                            <td><a href="/manage_user/{{ user.id }}">Bewerken</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-4 sidebar">
                <div class="row">
                    <div class="col-md-12 mt-3 pt-2">
                        Lege sidebar
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}